source https://api.nuget.org/v3/index.json

storage: none
framework: net60, netstandard20, netstandard21

nuget Unquote ~> 6.1.0
nuget FSharp.Core >= 4.7.2 lowest_matching: true

nuget AWSSDK.DynamoDBv2 ~> 3.7.0
nuget DotNet.ReproducibleBuilds
github eiriktsarpalis/TypeShape:10.0.0 src/TypeShape/TypeShape.fs

group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0, net60
  storage: none
  
  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub
  nuget Octokit
