source https://api.nuget.org/v3/index.json

storage: none
framework: net90, netstandard20, netstandard21

nuget Unquote ~> 6.1.0
nuget FSharp.Core >= 4.7.2 lowest_matching: true

nuget AWSSDK.DynamoDBv2 ~> 3.7.5
nuget DotNet.ReproducibleBuilds
nuget System.Diagnostics.DiagnosticSource >= 6.0.0
github eiriktsarpalis/TypeShape:10.0.0 src/TypeShape/TypeShape.fs

group Test
    source https://api.nuget.org/v3/index.json
    framework: net90

    nuget FsCheck
    nuget Microsoft.NET.Test.Sdk
    nuget xunit
    nuget xunit.runner.visualstudio