type project
id FSharp.AWS.DynamoDB
description
    A library that provides an idiomatic F# API for AWS DynamoDB.
version
    0.0.1-alpha
authors
    Eirik Tsarpalis
copyright
    Copyright 2016
releasenotes
    RELEASE NOTES
summary
    A library that provides an idiomatic F# API for AWS DynamoDB.
tags
    fsharp, f#, aws, amazon, dynamodb
dependencies
    FSharp.Core >= LOCKEDVERSION
    AWSSDK.DynamoDBv2 >= LOCKEDVERSION
	Unquote >= LOCKEDVERSION